body {
    background: #fbf9f9;
}

.logorafiki {
    padding: 2rem;
    margin-left: -1rem;
}

nav {
    background: #fff;
    height: 7rem;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0 13px;
    list-style: none;
}

ul .navbar {
    height: 2rem;

}

li {
    float: left;
}

nav .link1 {
    margin-top: 1rem;
    padding: 38px 43px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

}

.hr:hover {
    background-color: rgb(249 249 249);
}

hr {
    display: flex;
    height: 39px;
    margin-top: 2.5rem;
    opacity: 48%;
}

.hr {
    display: flex;

}

footer {
    display: flex;
    justify-content: center;
    background-color: #dfd8d833;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: 'Montagu Slab', serif;
    padding-top: 40px;
    width: 100%;
    height: 60px;
    text-align: center;
}

h4 {
    font-family: 'Montagu Slab', serif;
    text-align: center;
    padding: 1px;
    width: 100%;
    height: 46px;
}

.rafikitel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vh;
    padding-bottom: 4rem;

}

button {
    float: right;
    background: 0;
    color: black;
    transition: all .3s;

}

.send:hover {
    background: #340d82;
    color: #fff;
    width: 11rem;
    height: 2.5rem;
}

.button {
    display: flex;
    justify-content: center;

}

.send {
    border-radius: 16px;
    width: 11rem;
    height: 2.5rem;
    font-size: 15px;
    font-family: system-ui;
}

@media screen and (max-width:720px) {
    nav {
        display: block;
        height: auto;
        background-color: #fbf9f9;
    }

    .nav {
        display: flex;
        justify-content: center;
    }

    img {
        width: 9rem;
        display: flex;
        justify-content: center;
    }

    .logorafiki {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 4.5rem;
    }

    body {
        background: #fbf9f9;

    }

    .hr {
        display: table;
    }

    hr {
        display: flex;
        margin-top: 0.5rem;
        justify-content: center;
        width: 40%;
        height: auto;

    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        background-color: #dfd8d833;
        color: black;
        bottom: 0;
        position: relative;
        width: 100%;
    }

    .write {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
        display: flex;
        justify-content: center;
        padding: 0;
        width: 35rem;
        padding-left: 5rem;
    }

    nav.link1 {
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        display: flex;
        justify-content: center;
    }

    .ktiba {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    h4 {
        width: 90%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 0;

    }

    h1 {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0;
        padding: 1rem;

    }

    .rafikitel {
        padding: 0;
    }
}